.container{
text-align:center;
display:flex; 
flex-direction: column;
}

ul, ol{
margin:auto;
}

li{
    text-align:left;
}

table{
    margin:auto;
}
tr{
    text-align: left;    
}
td, th{
padding:0px 10px;
}