<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Welcome to {{ title }}!
  </h1>  
<app-combo-years (yearChanged)="yearChangedHandler($event)"></app-combo-years>
<h3>Holidays in {{holiyear.year}}:</h3>
<ol>
  <li *ngFor="let holiday of holiyear.holidays">
     {{holiday.toString()}}</li>
</ol>
<h4>
  <span>Needed: {{holiyear.getEffectiveHolidaysCount()}}</span>
  <span style="margin-left:20px">Redundant: {{holiyear.holidays.length -  holiyear.getEffectiveHolidaysCount()}}</span>
  </h4>

<router-outlet></router-outlet>
</div>